/* CSS formatting here */

body {
  font-family: HelveticaNeue-Bold;
  color: #ffffff;
  width: 100%;
  margin: 0;
}
h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 40px;
  color: #8B572A;
  line-height: 43px;
}
h2 {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 28px;
}
h3 {
  font-family: HelveticaNeue-Bold;
  font-size: 28px;
  color: #8B572A;
  line-height: 21px;
}
p {
  font-family: HelveticaNeue-Bold;
  font-size: 18px;
  color: #8B572A;
  line-height: 21px;
}
ul li {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 21px;
}
img.kitchen{
  max-width: 100%;
  height: auto;
}
.title{
  background: #ffffff;
  padding-bottom: 7%;
  text-shadow: 4px 4px #000000;
}
.menu {
  list-style: none;
  padding-top: 0;
  margin-top: 500;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #8B572A;
}
.menu li{
  display: inline-block;
  padding: 20px 35px;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
section.ingredients{
  background: rgba(138,87,42,0.20);
  overflow: hidden;
  padding-left: 80px;
  padding-top: 40px;
  margin-right: 0;
  margin-bottom: 80px;
  }
  img.ingredients{
  float: right;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 80px;
  border: solid #8B572A;
  }
  section.method1{
    overflow: hidden;
    padding-left: 100px;
    padding-right: 80px
    padding-top: 40px
  }
  img.method1{
  float: left;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 80px;
  border: solid #8B572A;
}
section.method2{
  padding-left: 100px;
  padding-right: 100px;
  overflow: hidden;
  padding-top: 20px
  }
img.method2{
  float: right;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 80px;
  border: solid #8B572A;
  }
section.method3{
  padding-left: 100px;
  padding-right: 80px;
  overflow: hidden;
  padding-top: 40px
    }
img.method3{
  float: left;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 80px;
  border: solid #8B572A;
}
