/* CSS formatting here */

body {
  font-family: HelveticaNeue-Bold;
  color: #ffffff;
  width: 100%;
  margin: 0;
}
h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 51px;
  color: #8B572A;
  line-height: 43px;
  padding-left: 5%;
  padding-bottom: 0%;
}
h2 {
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #8B572A;
  line-height: 28px;
}
h3 {
  font-family: HelveticaNeue-Bold;
  font-size: 28px;
  color: #8B572A;
  line-height: 21px;
  padding-left: 6%;
  text-align: left;
}
p {
  font-family: HelveticaNeue-Bold;
  font-size: 18px;
  color: #8B572A;
  line-height: 21px;
  padding-left: 6%;
  text-align: left;
}
ul li {
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #8B572A;
  line-height: 21px;
}
img.kitchen {
  max-width: 100%;
  height: auto;
}
.title {
  background: #ffffff;
  padding-bottom: 5%;
  text-shadow: 4px 4px #000000;
}
.menu {
  list-style: none;
  padding-top: 0;
  margin-top: 0;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  background: #8B572A;
  position: fixed;
}
.menu li {
  display: inline-block;
  padding: 20px 30px;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
section.ingredients {
  background: rgba(138, 87, 42, 0.20);
  overflow: hidden;
}
img.ingredients {
  float: right;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 40px;
  border: solid #8B572A;
}
section.ingredients ul {
  float: left;
  max-width: 280px;
  height: auto;
  margin-right: 40px;
  margin-bottom: 80px;
  padding-left: 6%;
  padding-top: 80px;
  padding-bottom: 80px;
}
section.method1 {
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
  padding-top: 20px
}
img.method1 {
  float: left;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 40px;
  border: solid #8B572A;
}
section.method2 {
  padding-left: 40px;
  padding-right: 80px;
  overflow: hidden;
  padding-top: 20px
}
img.method2 {
  float: right;
  max-width: 280px;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: solid #8B572A;
}
section.method3 {
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
  padding-top: 20px
}
img.method3 {
  float: left;
  max-width: 280px;
  height: auto;
  margin-right: 80px;
  margin-bottom: 40px;
  border: solid #8B572A;
}
section.contact i {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10px;
}
section.contact {
  text-align: center;
  background: rgba(138, 87, 42, 0.20);
}
.fa {
  color: #8B572A;
  text-decoration: none;
}
