/* CSS formatting here */

body {
  font-family: HelveticaNeue-Bold;
  color: #ffffff;
  width: 100%;
  margin: 0;
}
h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 35px;
  color: #8B572A;
  line-height: 43px;
}
h2 {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 28px;
}
h3 {
  /* Ingredients: */

  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 21px;
}
p {
  /* Ingredients: */

  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 21px;
}
ul li {
  /* Preparation method: */

  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #8B572A;
  line-height: 21px;
}
